body {
    background-color: #fff;
}

.fa {
    font-size: 14px;
}

.search-bar {
    text-align: center;
    background-color: #efeff4;
    padding: 8px 0;
    font-size: 14px;
}

.filter {
    position: fixed;
    z-index: 50;
    width: 94%;
}

.container {
    position: absolute;
    top: 44px;
    bottom: 50px;
}

.refreshContainer {
    margin-top: 70px;
}

.container {
    padding-top: 0;
}